<%- include ('../partials/header') %>

<div class="container">
    <div class="container">
        <h1><b>Tracks</b></h1>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Track Name</th>
                    <th>Track ID</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < tracks.length; i++) { %>
                    <tr>
                        <td><i><b><%= tracks[i].track_name %></b></i></td>
                        <td><i><b><%= tracks[i].track_id %></b></i></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include ('../partials/footer') %>